@import "compass/reset"
@import "compass/css3/gradient"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/box-shadow"

body
  margin: 20px 30px
  background-color: #B22B2B

a
  color: #3F3159

h1
  font-size: 40px
  height: 60px

.image-wrapper
  height: 100px
  position: absolute
  top: 20px
  right: 20px

  img
    height: 100%

li.committer
  position: relative
  @include border-radius(10px, 10px)
  +box-shadow(black, 0, 0, 8px)
  margin-bottom: 20px
  margin-right: 20px
  width: 350px
  padding: 15px 20px
  float: left
  min-height: 370px
  background-color: #E5CAAC

  li
    list-style-type: disc
    margin-left: 20px
    margin-bottom: 3px

dt
  margin-bottom: 5px

dd
  margin-bottom: 10px

h2
  font-size: 28px
  margin-bottom: 5px

.fork-link
  display: block
  clear: all
  width: 300px
