<h1>Ruby Committers</h1>
<ul id="committers">
<%= render :partial => 'account', :collection => @accounts %>
</ul>
<%= link_to 'fork me on github', 'http://github.com/tenderlove/rubycommitters.org', :class => "fork-link" %>
